.pro1 {
    .me {

        width: auto;
        height: auto;
        border: 0px solid #cccccc2d;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .uni {

        width: 20%;
        height: 10%;
    }

    .container {
        position: relative;
        font-family: sans-serif;
    }

    .container::before,
    .container::after {
        content: "";
        background-color: #fab5704c;
        position: absolute;
    }

    .container::before {
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        top: 30%;
        right: 7%;
    }

    .container::after {
        content: "";
        position: absolute;
        height: 3rem;
        top: 8%;
        right: 5%;
        border: 1px solid;
    }

    .container .box {

        width: 490px;
        height: 500px;
        padding: 1rem;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.074);
        border: 1px solid rgba(255, 255, 255, 0.222);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        border-radius: .7rem;
        transition: all ease .3s;
    }

    .container .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container .box .title {
        color: #cccccc;
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: .1em
    }

    .container .box div strong {
        font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
        color: #ccccccd2;
        display: block;
        margin-bottom: .5rem;
    }

    .container .box div p {
        color: #cccccc;
        margin: 0;
        font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
        font-size: .9em;
        font-weight: 300;
        letter-spacing: .1em;
    }

    .container .box div span {
        font-size: .7rem;
        font-weight: 300;
        color: #cccccc;
    }

    .container .box div span:nth-child(3) {
        font-weight: 500;
        color: #cccccc;
        margin-right: .2rem;
    }

    .container .box:hover {
        box-shadow: 0px 0px 20px 1px #ffbb763f;
        border: 1px solid rgba(255, 255, 255, 0.454);
    }

}


/* ================================================================= */
.pro1-pic {
    .card {
        width: 230px;
        height: 280px;
        border-radius: 2em;
        padding: 10px;
        background-color: #191919;
        box-shadow: 5px 5px 30px rgb(4, 4, 4),
            -5px -5px 30px rgb(57, 57, 57);
    }

    .profileimage {
        background-color: transparent;
        border: none;
        margin-top: 20px;
        border-radius: 5em;
        width: 100px;
        height: 100px;
    }

    .pfp {
        border-radius: 35em;
        fill: white;
    }

    .Name {
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 15px;
        font-size: 20px;
        margin-top: 10px;
    }

    .socialbar {
        background-color: #191919;
        border-radius: 3em;
        width: 90%;
        padding: 14px;
        margin-top: 15px;
        color: white;
        box-shadow: 3px 3px 15px rgb(0, 0, 0),
            -3px -3px 15px rgb(58, 58, 58);
    }

    .card a {
        transition: 0.4s;
        color: white
    }

    #github:hover {
        color: #c9510c;
    }

    #instagram:hover {
        color: #d62976;
    }

    #facebook:hover {
        color: #3b5998;
    }

    #twitter:hover {
        color: #00acee;
    }

}